<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>data submited </title>
    <link href="static/css/style.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
<div class="table-submitted">
    <table border="1" align="center">
        <tr>
            <th colspan="2">Personal Details</th>
        </tr>
        <tr>
            <td>{{pName}}</td>
            <td>{{pLname}}</td>
        </tr>
        <tr>
            <td>{{pMail}}</td>
            <td>{{pPhn}}</td>
        </tr>
        <tr>
            <th colspan="2">Trip Information</th>
        </tr>
        <tr>
            <td>{{pTrip}}</td>
            <td>{{pTripClass}}</td>
        </tr>
        <tr>
            <td>{{pStartCountry}}</td>
            <td>{{pEndCountryp}}</td>
        </tr>
        <tr>
                <td>{{pStartDate}}</td>
                <td>{{pStartTime}}</td>
        </tr>
        <tr>
                <td>{{pEndDate}}</td>
                <td>{{pEndTime}}</td>
        </tr>
        <tr>
            <td>{{pAirType}}</td>
            <td>{{pLugg}}</td>
        </tr>
        <tr>
            <td>{{pAirName}}</td>
            <td>{{pAirNum}}</td>
        </tr>
        <tr>
            <td>{{pAdults}}</td>
            <td>{{pChild}}</td>
        </tr>
        <tr>
            <td>{{pHotelType}}</td>
            <td>{{pVehicle}}</td>
        </tr>
        <tr>
            <th colspan="2">Traveler's Details</th>
        </tr> 
        <tr>
            <td>{{pPassNum}}</td>
            <td>{{pPassExpNum}}</td>
        </tr>
        <tr>
            <td rowspan="4" colspan="2">{{pMsg}}</td>
        </tr>
    </table>
</div>
</body>

</html>