{% extends 'base.html'%}
{% block title %} PetXhub | About {% endblock %}

{% block main %}
  <!--//header-->
  <!--/inner-page-->
  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
      </ul>
    </div>
  </section>
  <!--//inner-page-->
<!-- features-4 -->
<section class="w3l-services-6-main">
  <div class="services-6 py-5">
      <div class="container py-md-3">
          <div class="row serv_sec_info">
              <div class="col-lg-6 banner_bottom_grid help pr-lg-5">
                  <img src="static/images/b5.jpg" alt=" " class="img-fluid radius-image">
              </div>
              <div class="col-lg-6 banner_bottom_left pl-lg-4 mt-lg-0 mt-md-5 mt-4">
                <div class="title-content text-left">
                  <h6 class="title-subhny mb-2"><span>Welcome</span></h6>
                  <h3 class="title-w3l">We are all about pets.
                    Over 13+ years in the business</h3>
                </div>
                  <p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
                      viverra pharetra sem, eget pulvinar neque pharetra ac.Lorem ipsum dolor sit amet, Ea
                      consequuntur illum facere aperiam sequi optio consectetur.</p>
                  
                      <a class="btn btn-style btn-primary mt-4" href="#"> Read More</a>
              </div>
          </div>
          <div class="row features-w3pvt-main" id="features">
              <div class="col-lg-4 col-md-6 feature-gird">
                  <div class="row features-hny-inner-gd">
                      <div class="col-md-3 col-2 featured_grid_left">
                          <div class="icon_left_grid">
                              <span class="fa fa-american-sign-language-interpreting" aria-hidden="true"></span>
                          </div>
                      </div>
                      <div class="col-md-9 col-10 featured_grid_right_info pl-lg-0">
                          <h4><a class="link-hny" href="#url">Puppy Training </a></h4>
                          <p>Lorem ipsum dolor sit amet consec tetur adipisi elit. Dolores, rem!</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 feature-gird">
                  <div class="row features-hny-inner-gd">
                      <div class="col-md-3 col-2 featured_grid_left">
                          <div class="icon_left_grid">
                              <span class="fa fa-ambulance" aria-hidden="true"></span>
                          </div>
                      </div>
                      <div class="col-md-9 col-10 featured_grid_right_info pl-lg-0">
                          <h4><a class="link-hny" href="#url">Pet Transport</a></h4>
                          <p>Lorem ipsum dolor sit amet consec tetur adipisi elit. Dolores, rem!</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 feature-gird">
                  <div class="row features-hny-inner-gd">
                      <div class="col-md-3 col-2 featured_grid_left">
                          <div class="icon_left_grid">
                              <span class="fa fa-user-md" aria-hidden="true"></span>
                          </div>
                      </div>
                      <div class="col-md-9 col-10 featured_grid_right_info pl-lg-0">
                          <h4><a class="link-hny" href="#url">Medical Administration</a></h4>
                          <p>Lorem ipsum dolor sit amet consec tetur adipisi elit. Dolores, rem!</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
 <!-- /content-with-photo-16 -->
<section class="content-with-photo-16 py-5">
  <div class="content-with-photo-16-main py-lg-5 py-sm-4">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 column">
                  <div class="content-with-photo-16-inf">
                    <div class="title-content text-left">
                      <h6 class="title-subhny mb-2"><span>Why Us</span></h6>
                      <h3 class="title-w3l">Established &
                        Trusted Pet
                        Care Service</h3>
                    </div>
                      <p>Aliquam blandit vel sapien eget aliquam. Phasellus eget volutpat libero. Suspendisse
                          eleifend nibh quis dui placerat fermentum.n molestie nulla felis, vitae feugiat justo
                          pulvinar et. </p>
                      <ul class="content-photo-list">
                          <li>
                              <span>Aliquam blandit vel sapien eget aliquam.</span>
                          </li>
                          <li>
                              <span>Phasellus eget volutpat libero. </span>
                          </li>
                          <li>
                              <span>Aliquam blandit vel sapien eget aliquam.</span>
                          </li>
                          <li>
                              <span>Phasellus eget volutpat libero. </span>
                          </li>
                      </ul>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#"> Read More</a>
                  </div>
              </div>
              <div class="col-lg-6 column mt-lg-0 mt-md-5 mt-4">
                  <div class="companies-img">
                      <img src="static/images/b3.jpg" class="img-fluid radius-image" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- //content-with-photo-16 -->
<!-- team -->
<section class="w3l-team py-5" id="w3l-team">
  <div class="container py-lg-4 py-sm-3">
    
      <div class="row text-center">
           <div class="col-md-6 mt-5 pl-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Our Team</span></h6>
              <h3 class="title-w3l mb-3">Team Experts</h3>
              <p>Aliquam blandit vel sapien eget aliquam. Phasellus eget volutpat libero. Suspendisse eleifend nibh quis dui placerat fermentum.n molestie nulla felis, vitae feugiat justo pulvinar et.</p>
              <a class="btn btn-style btn-primary mt-md-5 mt-4" href="#"> Join Our Team</a>
            </div>
          </div>
          <div class="col-md-3 col-6 mt-5">
            <div class="team-grids text-center">
                <img src="static/images/team5.jpg" class="img-fluid" alt="">
                <div class="team-info">
                    <div class="caption">
                        <div class="social-icons-section text-center">
                            <a class="fac" href="#url">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#url">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <h4>John Harris</h4>
            <h6>Boarding</h6>
        </div>
        <div class="col-md-3 col-6 mt-5">
          <div class="team-grids text-center">
              <img src="static/images/team6.jpg" class="img-fluid" alt="">
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <i class="fa fa-facebook"></i>
                          </a>
                          <a class="twitter" href="#url">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <h4>Scott Colon</h4>
          <h6>Boarding</h6>
      </div>
          <div class="col-md-3 col-6 mt-5">
              <div class="team-grids text-center">
                  <img src="static/images/team1.jpg" class="img-fluid" alt="">
                  <div class="team-info">
                      <div class="caption">
                          <div class="social-icons-section text-center">
                              <a class="fac" href="#url">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a class="twitter" href="#url">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <h4>John Doe</h4>
              <h6>Boarding</h6>
          </div>
          <div class="col-md-3 col-6 mt-5">
              <div class="team-grids text-center">
                  <img src="static/images/team2.jpg" class="img-fluid" alt="">
                  <div class="team-info">
                      <div class="caption">
                          <div class="social-icons-section text-center">
                              <a class="fac" href="#url">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a class="twitter" href="#url">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <h4>Alexander</h4>
              <h6>Training</h6>
          </div>
          <div class="col-md-3 col-6 mt-5">
              <div class="team-grids text-center">
                  <img src="static/images/team3.jpg" class="img-fluid" alt="">
                  <div class="team-info">
                      <div class="caption">
                          <div class="social-icons-section text-center">
                              <a class="fac" href="#url">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a class="twitter" href="#url">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <h4>Martin ker </h4>
              <h6>Boarding</h6>
          </div>
          <div class="col-md-3 col-6 mt-5">
              <div class="team-grids text-center">
                  <img src="static/images/team4.jpg" class="img-fluid" alt="">
                  <div class="team-info">
                      <div class="caption">
                          <div class="social-icons-section text-center">
                              <a class="fac" href="#url">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a class="twitter" href="#url">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <h4>Elizabeth </h4>
              <h6>Doggie Day Care</h6>
          </div>
      </div>
  </div>
</section>
<!-- team -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
  <!-- footer -->
  {% endblock %}