{% extends 'base.html' %}
{% block title %} PetXhub | 404{% endblock %}

{% block main %}
  <!--//header-->
  <!--/inner-page-->
  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Error Page</li>
      </ul>
    </div>
  </section>
  <!--//inner-page-->
  <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
  <!--/404-->
    <div class="w3l-error-grid py-5 text-center">
      <div class="container py-lg-5 py-md-4">
          <div class="error-block">
              <h2>4<span class="green">0</span>4</h2>
              <h3>Oops, Page not found!</h3>
              <p class="mt-4">Sorry, we're offline right now to make our site even better. Please, comeback later and check what we've
                  been upto.</p>

              <form class="form-inline search-form mt-md-5 mt-4" action="#" method="post">
                  <input class="form-control" type="search" placeholder="Search here" aria-label="email" required="">
                  <button class="btn search btn-style btn-primary" type="submit"> <span class="fa fa-search"></span></button>
              </form>
              <a href="index.html" class="btn btn-style btn-primary mt-5"> Back to Home</a>
          </div>
      </div>
  </div>
<!--/404-->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
<!-- footer -->
{% endblock %}